.topbar {
  height: 10vh;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
  background-color: var(--background);
  border-bottom: 1px solid rgba(255, 255, 255, 0.116);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.2rem;
  font-weight: bold;
  .topbar-container {
    width: 65vw;
    max-height: 10%;
    position: inherit;

    display: flex;
    justify-content: center;
    align-items: center;

    .topbar-name {
      position: absolute;
      left: 0;

      p {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95px;
      }
    }
    .topbar-display {
      position: absolute;
      right: 0;

      cursor: pointer;
  
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 425px) {
  .topbar {
    width: 100%;
    .topbar-container {
      width: 85vw;
    }
  }
}