.topbar {
  width: 65%;
  height: 10vh;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.2rem;
  font-weight: bold;
  .topbar-display {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 425px) {
  .topbar {
    width: 85%;
  }
}