li {
  transition: transform 0.3s ease-out;
  &:hover {
    transform: translateY(5px);
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;

    color: white;
    text-decoration: none;
  }
}

@media screen and (max-width: 768px) {
  li {
    &:hover {
      transform: translateY(0px);
    }
    a {
      font-size: 1.25rem;
      color: black;
    }
  }
}