.navbar {
  width: 400px;
  height: 50px;

  ul {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    list-style: none;
  }
}

@media screen and (min-width: 769px) {
  #navbar-mobile {
    display: none;
    position: absolute;
  }
}

@media screen and (max-width: 768px) {
  #navbar-desktop {
    display: none;
  }
  #navbar-mobile {
    position: inherit;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .navbar {
    padding: 2rem 0;
    background-color: #1a1c2e;

    ul {
      border-radius: 15px;
    }
  }
}

@media screen and (max-width: 425px) {
  .navbar {
    width: 100%;
    bottom: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);

    ul {
      gap: 12%;

      background-color: #1a1c2e;
    }
  }
}