.section {
  min-height: 90vh;

  .section__container {
    width: 65vw;
    min-height: 100vh;
    margin: 0 auto;
    padding: 15vh 0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);

    @media screen and (max-width: 768px) {
      padding: 10vh 0;
      width: 85vw;
    }
  }
}