.contact-info-container {
  margin-bottom: 1.5rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  a {
    display: flex;
    align-items: center;
    gap: 0.9rem;

    color: inherit;
    text-decoration: none;

    .ci-span {
      font-size: 1.3rem;
    
      @media screen and (max-width: 425px) {
        font-size: 1.1rem;
      }
    }
    
    ion-icon {
      font-size: 1.5rem;
    }
  }
}