@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
  --background: #1a1c2e;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

[data-theme='light'] {
  --background: white;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;
}

body {
  background-color: #1a1c2e;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.title {

  font-size: 4rem;
  margin-bottom: 10vh;

  @media screen and (max-width: 768px) {
    font-size: 2rem;
    text-align: center;
  }
}