@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  --background: black;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}

[data-theme='light'] {
  --background: white;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;
}

body {
  background-color: #0C0E1F;
  color: white;
  font-family: 'Montserrat', sans-serif;
}